@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1: 3.052rem;
  --h1-lineHeight: 58px;
  --h2: 2.441rem;
  --h2-lineHeight: 42px;
  --h3: 1.953rem;
  --h3-lineHeight: 36px;
  --h4: 1.563rem;
  --h4-lineHeight: 32px;
  --h5: 1.25rem;
  --h5-lineHeight: 24px;
  --h6: 1rem;
  --h6-lineHeight: 24px;
}
h1 {
  font-size: var(--h1);
  line-height: var(--h1-lineHeight);
}
h2 {
  font-size: var(--h2);
  line-height: var(--h2-lineHeight);
}
h3 {
  font-size: var(--h3);
  line-height: var(--h3-lineHeight);
}
h4 {
  font-size: var(--h4);
  line-height: var(--h4-lineHeight);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.desktop-nav {
  display: block;
}
.mobile-nav {
  display: none;
}
.slides {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  place-items: center;
}

.overlay {
  height: 100vh;
}
.slide {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / -1 / -1;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
  will-change: transform, opacity;
}

.slide--current {
  pointer-events: auto;
  opacity: 1;
}

.slide__img {
  width: 120%;
  height: 120%;
  background-size: cover !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  will-change: transform, opacity, filter;
}

.slides-nav {
  grid-area: nav;
  display: flex;
  gap: 0.5rem;
  align-self: end;
  align-items: center;
}

.slides-nav::before {
  content: "scroll / drag";
  margin-right: 2rem;
}

.slides-nav__item {
  border: 0;
  background: #fff;
  color: #000;
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slides-nav__item:hover {
  background-color: #ccc;
}

@media (max-width: 950px) {
  .slides {
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    place-items: center;
  }
  .slide__img {
    width: 120%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    will-change: transform, opacity, filter;
  }
}

/*-------1280px------*/
@media (min-width: 80em) {
  :root {
    --h1: 3.815rem !important;
  }
  h1 {
    font-size: var(--h1);
  }
}

/*-------960px------*/
@media (min-width: 60em) {
  :root {
    --h1: 3.052rem;
  }
  h1 {
    font-size: var(--h1);
  }
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none !important;
  }
  .mobile-nav {
    display: block;
  }
}

/*-------640px------*/
@media (max-width: 40em) {
  :root {
    --h1: 1.953rem;
    --h4: 1rem;
    --h6: 0.9rem;
  }
  h1 {
    font-size: var(--h1);
    line-height: 0.5rem;
  }
  h4 {
    font-size: var(--h4);
  }
  .mobile-nav {
    display: block;
  }
}

/*-------480px------*/
@media (max-width: 30em) {
  :root {
    --h1: 1.563rem;
    --h4-lineHeight: 22px;
  }
  h1 {
    font-size: var(--h1);
    line-height: var(--h1-lineHeight);
  }
  .slides {
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    place-items: center;
  }
}
/*-------352px------*/
@media (max-width: 25em) {
  :root {
    --h1: 1.563rem;
    --h1-lineHeight: 22px;
    --h4: 1rem;
  }
  h1 {
    font-size: var(--h1);
    line-height: var(--h1-lineHeight);
    color: aqua;
  }
  h4 {
    font-size: var(--h4);
  }
}
