@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1: 3.247rem;
  --h1-lineHeight: 38px;
  --h2: 2.441rem;
  --h2-lineHeight: 42px;
  --h3: 1.953rem;
  --h3-lineHeight: 36px;
  --h4: 1.563rem;
  --h4-lineHeight: 32px;
  --h5: 1.25rem;
  --h5-lineHeight: 24px;
  --h6: 1rem;
  --h6-lineHeight: 24px;
}
h1 {
  font-size: var(--h1);
  line-height: var(--h1-lineHeight);
}
h2 {
  font-size: var(--h2);
  line-height: var(--h2-lineHeight);
}
h3 {
  font-size: var(--h3);
  line-height: var(--h3-lineHeight);
}
h4 {
  font-size: var(--h4);
  line-height: var(--h4-lineHeight);
}
h5 {
  font-size: var(--h5);
  line-height: var(--h5-lineHeight);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.desktop-nav {
  display: block;
}
.mobile-nav {
  display: none;
}
.slides {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  place-items: center;
}

.overlay {
  height: 100vh;
}
.slide {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / -1 / -1;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
  will-change: transform, opacity;
}

.slide--current {
  pointer-events: auto;
  opacity: 1;
}

.slide__img {
  width: 120%;
  height: 120%;
  background-size: cover !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  will-change: transform, opacity, filter;
}

.slides-nav {
  grid-area: nav;
  display: flex;
  gap: 0.5rem;
  align-self: end;
  align-items: center;
}

.slides-nav::before {
  content: "scroll / drag";
  margin-right: 2rem;
}

.slides-nav__item {
  border: 0;
  background: #fff;
  color: #000;
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slides-nav__item:hover {
  background-color: #ccc;
}
.active-indicator {
  background-color: #000;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.title-item {
  color: #ccc; /* Light grey */
}

.title-item.active {
  color: #000; /* Black */
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  background-size: cover;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
  background-color: #0f282f;
}

figure.effect-ruby img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-ruby h2 {
  margin-top: 20%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-ruby p {
  margin: 1em 0 0;
  padding: 3em;
  /* border: 1px solid #fff; */
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
}

figure.effect-ruby:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-ruby:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

@media (max-width: 768px) {
  :root {
    --h1: 2.986rem;
    --h2: 2.488rem;
    --h3: 2.074rem;
    --h4: 1.728rem;
    --h5: 1.44rem;
    --h6: 1.2rem;
  }
  h1 {
    font-size: var(--h1);
  }
  h2 {
    font-size: var(--h2);
  }
  h3 {
    font-size: var(--h3);
  }
  h4 {
    font-size: var(--h4);
  }
  h5 {
    font-size: var(--h5);
  }
  h6 {
    font-size: var(--h6);
  }
  .slides {
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    place-items: center;
  }
  .slide__img {
    width: 120%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    will-change: transform, opacity, filter;
  }
  .desktop-nav {
    display: none !important;
  }
  .mobile-nav {
    display: block;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

/*-------640px------*/
@media (max-width: 40em) {
  :root {
    --h1: 1.802rem;
    --h2: 1.602rem;
    --h3: 1.424rem;
    --h4: 1.266rem;
    --h5: 1.125rem;
    --h6: 0.9rem;
  }
  h1 {
    font-size: var(--h1) !important;
    line-height: 16px;
  }
  h2 {
    font-size: var(--h2);
    line-height: 32px;
  }
  h3 {
    font-size: var(--h3);
    line-height: 32px;
  }
  h4 {
    font-size: var(--h4);
    line-height: 24px;
  }
  h5 {
    font-size: var(--h5);
    line-height: 24px;
  }
  h6 {
    font-size: var(--h6);
    line-height: 18px;
  }
  .mobile-nav {
    display: block;
  }
  .swiper-slide {
    width: 80% !important;
  }
}

/*-------480px------*/
@media (max-width: 30em) {
  .slides {
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    place-items: center;
  }
}
/*-------352px------*/
@media (max-width: 25em) {
  h1 {
    margin-top: 38px;
  }

  h6 {
    font-size: 0.8rem;
  }
}
